@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// FONTS
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;
// FONT WEIGHT
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;
// FONT SIZES
$headline: 4rem;
$title: 3rem;
$sectionTitle: 2rem;
$sub-title: 1rem;
$phrase: .90rem;
$body: .85rem;
$caption: .7rem;
$inlineCaption: .6rem;
$highlight: 4rem;


// COLORS

// BRAND COLORS
$blue-primary: #56A6EB;
$blue-secondary: #64BAF8;
$blue-dark: #3a7bb4;

$red-primary: #FF3C3C;
$red-secondary: #D02727;
$red-dark: #A32928;

$white-primary: #FFFFFF;
$white-secondary: #F2F2F2;
$white-medium: #D5D5D9;
$white-dark: #BDBDC7;

// APP COLORS
$blue-gradient-bg: radial-gradient( #8FCFFF 40%, #6CBDFC 100%);
$font-color:#9BA1A3;
$success-color: #5ac71a;
$warning-color: #ffd900;
$error-color: #b94040;
$popup-color: #E1F0FA;
// GRID
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__bp-xxl: 1440;
$grid__cols: 24;

$map-grid-props: (
        '': 0,
        '-sm': $grid__bp-sm,
        '-md': $grid__bp-md,
        '-lg': $grid__bp-lg,
        '-xl': $grid__bp-xl,
        '-xxl': $grid__bp-xxl
);