@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
  }

  .bobble {
    animation: bobble 2s linear 0s infinite normal none running;
  }
  
  @keyframes bobble {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(10px);
    }
  }
  