.bottomCloudRow0{
    fill:#E1F0FA; 
}

.bottomCloudRow1{
    fill:#B8DBF2; 
    overflow: visible;
}

.bottomCloudRow2{
    fill:#C8E4F7;
    overflow: visible;
}

.bottomCloudRow3{
    fill:#F0F9FF;
    overflow: visible;
}

.bottomCloudRow4{
    fill:#FFFFFF;
    overflow: visible;
}

.bottomCloudShadow {
    overflow: visible;
}