@import './styling/mixins';
@import './styling/variables';
@import './assets/AddDropIcon/AddDropIcon';

* {
  box-sizing: border-box;
}
// GRID CLASSES
@each $modifier , $breakpoint in $map-grid-props {
  @if($modifier == '') {
    $modifier: '-xs';
  }
  @include create-mq($breakpoint - 1, 'max') {
    .hidden#{$modifier}-down {
      display: none !important;
      @include transition (all 2s);
    }
  }
  @include create-mq($breakpoint, 'min') {
    .hidden#{$modifier}-up {
      display: none !important;
      @include transition (all 2s);
    }
  }
}

.container {
  max-width: $grid__bp-md * 1px;
  margin: 0 auto;
  &--fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    max-width: 100%;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    &-nowrap {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
    }
  }
  @each $modifier , $breakpoint in $map-grid-props {
    @include create-col-classes($modifier, $grid__cols, $breakpoint);
  }
}

// FONT CLASSES BELOW ------
.headline {
  font-size: $headline;
  font-weight: $font-light;
  font-family: $lato;
  color: $font-color;
  &-blue {
    @extend .headline;
    color: $blue-primary;
  }
  &-white {
    @extend .headline;
    color: $white-primary;
    font-weight: $font-thin;
  }
}

.title {
  font-size: $title;
  font-weight: $font-thin;
  font-family: $lato;
  color: $font-color;
  &-blue {
    @extend .title;
    color: $blue-primary;
  }
  &-white {
    @extend .title;
    color: $white-primary;
  }
}

.subtitle {
  font-size: $sub-title;
  font-weight: $font-light;
  font-family: $lato;
  color: $font-color;
  &-blue {
    @extend .subtitle;
    color: $blue-primary;
  }
  &-red {
    @extend .subtitle;
    color: $red-primary;
    font-weight: $font-medium;
  }
  &-white {
    @extend .subtitle;
    color: $white-primary;
  }
}

.phrase {
  font-size: $phrase;
  font-weight: $font-regular;
  font-family: $lato;
  color: $font-color;
  &-blue {
    @extend .phrase;
    color: $blue-primary;
  }
  &-blue-thin {
    @extend .phrase;
    color: $blue-primary;
    font-weight: $font-light;
  }
  &-white {
    @extend .phrase;
    color: $white-primary;
  }
}

.body {
  font-size: $body;
  font-weight: $font-medium;
  font-family: $roboto;
  color: $font-color;
  &-white {
    @extend .body;
    color: $white-primary;
    font-weight: $font-regular;
    font-family: $lato;
  }
  &-blue {
    @extend .body;
    color: $blue-primary;
  }
  &-red {
    @extend .body;
    color: $red-primary;
    font-weight: $font-regular;
    font-family: $lato;    
  }
}

.caption {
  font-size: $caption;
  font-weight: $font-regular;
  font-family: $roboto;
  color: $font-color;
  &-blue {
    @extend .caption;
    color: $blue-primary;
  }
  &-error {
    @extend .caption;
    color: $error-color;
  }
  &-warning {
    @extend .caption;
    color: $warning-color;
  }
  &-success {
    @extend .caption;
    color: $success-color;
  }
  &-white {
    @extend .caption;
    color: $white-primary;
  }
  &-red {
    @extend .caption;
    color: $red-primary;
  }
}

.highlight {
  font-size: $highlight;
  font-weight: $font-medium;
  font-family: $roboto;
  color: $font-color;
  &-blue {
    @extend .highlight;
    color: $blue-primary;
  }
  &-error {
    @extend .highlight;
    color: $error-color;
  }
  &-warning {
    @extend .highlight;
    color: $warning-color;
  }
  &-success {
    @extend .highlight;
    color: $success-color;
  }
  &-white {
    @extend .highlight;
    color: $white-primary;
  }
  &-red {
    @extend .highlight;
    color: $red-primary;
  }
}

// UTILITY CLASSES BELOW---------
// Backgrounds
.bg {
  &-success {
    background-color: rgba(43, 192, 2, 0.9);
  }
  &-error {
    background-color: rgba(219, 0, 26, 0.91);
  }
  &-warning {
    background-color: rgba(245, 192, 0, 0.91);
  }
}

// easy to use REM sizes
.size {
  &-h {
    &-full {
      height: 100%;
    }
    &-1 {
      height: 1rem;
    }
    &-2 {
      height: 2rem;
    }
    &-3 {
      height: 3rem;
    }
    &-4 {
      height: 4rem;
    }
    &-5 {
      height: 5rem;
    }
    &-6 {
      height: 6rem;
    }
  }
  &-w {
    &-1 {
      width: 1rem;
    }
    &-2 {
      width: 2rem;
    }
    &-3 {
      width: 3rem;
    }
    &-4 {
      width: 4rem;
    }
    &-5 {
      width: 5rem;
    }
    &-6 {
      width: 6rem;
    }
  }
}

.MessageDetail {
  @extend .p-a-1;
  @extend .m-t-1;
  @extend .m-b-1;
  @extend .m-v-1;
  @extend .m-h-1;
  @extend .m-r-1;
  @extend .m-l-1;
}

// Margin
.m {
  &-a {
    &-50 {
      margin: .5rem;
    }
    &-1 {
      margin: 1rem;
    }
    &-2 {
      margin: 2rem;
    }
    &-3 {
      margin: 3rem;
    }
  }
  &-t {
    &-15 {
      margin-top: 28rem;
    }
    &-25 {
      margin-top: .25rem;
    }
    &-50 {
      margin-top: .5rem;
    }
    &-75 {
      margin-top: .75rem;
    }
    &-1 {
      margin-top: 1rem;
    }
    &-2 {
      margin-top: 2rem;
    }
    &-3 {
      margin-top: 3rem;
    }
    &-4 {
      margin-top: 4rem;
    }
    &-5 {
      margin-top: 5rem;
    }
    &-6 {
      margin-top: 6rem;
    }
  }
  &-b {
    &-25 {
      margin-bottom: .25rem;
    }
    &-50 {
      margin-bottom: .5rem;
    }
    &-1 {
      margin-bottom: 1rem;
    }
    &-2 {
      margin-bottom: 2rem;
    }
    &-3 {
      margin-bottom: 3rem;
    }
  }
  &-v {
    &-auto {
      margin: auto 0;
    }
    &-50 {
      margin-top: .5rem;
      margin-bottom: .5rem;
    }
    &-1 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    &-2 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  &-l {
    &-0 {
      margin-left: 0;
    }
    &-25 {
      margin-left: .25rem;
    }
    &-50 {
      margin-left: .5rem;
    }
    &-1 {
      margin-left: 1rem;
    }
    &-1p {
      margin-left: 1px;
    }
    &-2 {
      margin-left: 2rem;
    }
    &-3 {
      margin-left: 3rem;
    }
    &-4 {
      margin-left: 4rem;
    }
  }
  &-r {
    &-1 {
      margin-right: 1rem;
    }
    &-1p {
      margin-right: 1px;
    }
    &-2 {
      margin-right: 2rem;
    }
    &-2p {
      margin-right: 2px;
    }
  }
  &-h {
    &-auto {
      margin: 0 auto;
    }
    &-1 {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    &-2 {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}

// Padding
.p {
  &-a {
    &-1 {
      padding: 1rem;
    }
    &-2 {
      padding: 1rem;
    }
  }
  &-t {
    &-1 {
      padding-top: 1rem;
    }
    &-2 {
      padding-top: 2rem;
    }
  }
  &-b {
    &-1 {
      padding-bottom: 1rem;
    }
    &-2 {
      padding-bottom: 2rem;
    }
  }
  &-v {
    &-1 {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    &-2 {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  &-l {
    &-25 {
      padding-left: .25rem;
    }
    &-50 {
      padding-left: .5rem;
    }
    &-1 {
      padding-left: 1rem;
    }
    &-2 {
      padding-left: 2rem;
    }
  }
  &-r {
    &-1 {
      padding-right: 1rem;
    }
    &-2 {
      padding-right: 2rem;
    }
  }
  &-h {
    &-1 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    &-2 {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

// General Flexbox 
.flex {
  display: flex;
  &-column {
    @extend .flex;
    flex-direction: column;
  }
  &-row {
    @extend .flex;
    flex-direction: row;
    
  }
}

// flexbox aligns
.justify {
  &-end {
    justify-content: flex-end;
  }
  &-start {
    justify-content: flex-start;
  }
  &-center {
    justify-content: center;
  }
  &-around {
    justify-content: space-around;
  }
  &-between {
    justify-content: space-between;
  }
  &-evenly {
    justify-content: space-evenly;
  }
}

.align {
  &-end {
    align-content: flex-end;
  }
  &-start {
    align-content: flex-start;
  }
  &-center {
    align-content: center;
  }
  &-around {
    align-content: space-around;
  }
  &-between {
    align-content: space-between;
  }
  &-evenly {
    align-content: space-evenly;
  }
  &-text {
    text-align: center;
  }
}

// box radius
.radius {
  &-25 {
    border-radius: .25rem;
  }
  &-50 {
    border-radius: .5rem;
  }
  &-1 {
    border-radius: 1rem;
  }
  &-2 {
    border-radius: 2rem;
  }
  &-3 {
    border-radius: 3rem;
  }
  &-4 {
    border-radius: 4rem;
  }
  &-5 {
    border-radius: 5rem;
  }
}

.color {
  &-blue {
    color: $blue-primary;
  }
  &-dark-blue {
    color: $blue-dark;
  }
  &-red {
    color: $red-primary;
  }
  &-dark-red {
    color: $red-secondary;
  }
  &-gray {
    color: $font-color;
  }
  &-white {
    color: $white-primary;
  }
}

// Hide Element
.hidden {
  display: none;
  @include transition(all .8s);
  &-trans {
    visibility: hidden;  
    @extend .disabled;
    @include transition(all .8s);

  }
}

.show {
  display: block;
  @include transition(all 2s);
}

// Disable Element
.disabled {
  cursor: not-allowed;
  pointer-events: none;
  outline: none;
  background: none;
  color: $blue-primary;
}

// ANIMATION
.rotate {
  animation: spin-animation ease-in-out 2s infinite;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.rotate-half {
  animation: spin-half .8s forwards;
}

@keyframes spin-half {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(179deg);
  }
}

// INPUTS
.FormInput {
  &:focus-within {
    .label {
        color: $blue-primary; 
    }
    .input {
      border-color: $blue-primary;
    }
  }
  &.valid:focus-within {
    .label {
        color: $success-color; 
    }
    .input {
      border-color: $success-color;
    }
  }
  &.invalid:focus-within {
    .label {
        color: $red-primary; 
    }
    .input {
      border-color: $red-primary;
    }
  }
  
}

.input {
  padding: .75rem;
  border: solid 1px $blue-primary;
  border-radius: 3px;
  background: $white-secondary;
  outline: 0;
  color: $blue-primary;
  &.valid {
    border-color: $success-color;
  }
  &.invalid {
    border-color: $red-primary;
  }
}

.label {
  transition: // not padding
  background 0.2s,
  color 0.2s,
  top 0.2s,
  bottom 0.2s,
  right 0.2s,
  left 0.2s;
  font-size: 70%;
  visibility: hidden;
  padding: 3px 4px;
  font-family: $roboto;
  &.valid {
    visibility: visible;
    color: $success-color;
  }
  &.invalid {
    visibility: visible;
    color: $red-primary;
  }
}

.inlineCaption {
  font-size: $inlineCaption;
  font-weight: $font-regular;
  font-family: $roboto;
  color: $font-color;
  &-blue {
    @extend .caption;
    color: $blue-primary;
  }
  &-error {
    @extend .caption;
    color: $red-primary;
  }
  &-warning {
    @extend .caption;
    color: $warning-color;
  }
  &-success {
    @extend .caption;
    color: $success-color;
  }
  &-white {
    @extend .caption;
    color: $white-primary;
  }
  &-red {
    @extend .caption;
    color: $red-primary;
  }

}

.page-input {
  @extend .p-v-1;
  @extend .container__row;
  border: none;
  border-radius: .75rem;
  background: none;
  outline: 0;
  color: $blue-primary;
  font-family: $lato;
}

.text-container {
  @extend .container__row;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

.text-display {
  @extend .p-v-1;
  @extend .container__col-22;
  @extend .container__col-offset-1;
  max-width: 100%;
  height: 100%;
  color: $blue-primary;
  font-family: $lato;
  font-size: $phrase;
}

// BUTTONS
.btn {
  @include button(uppercase);
  text-decoration: none;
  &-sm {
    @extend .btn;
    @include btn-size(.15rem, .35rem .5rem .35rem .5rem, .75rem, .07rem, 400);
    &-white {
      @extend .btn-sm;
      @include btn-theme($white-primary, $white-primary, $blue-primary);
    }
    &-blue {
      @extend .btn-sm;
      @include btn-theme($blue-primary, $blue-primary, $white-primary);
    }
    &-red {
      @extend .btn-sm;
      @include btn-theme($red-primary, $red-primary, $white-primary);
    }
  }
  &-md {
    @extend .btn;
    @include btn-size(.15rem, .5rem 1.25rem .5rem 1.25rem, .75rem, .08rem, 400);
    &-white {
      @extend .btn-md;
      @include btn-theme($white-primary, $white-primary, $blue-primary);
    }
    &-blue {
      @extend .btn-md;
      @include btn-theme($blue-primary, $blue-primary, $white-primary);
    }
    &-red {
      @extend .btn-md;
      @include btn-theme($red-primary, $red-primary, $white-primary);
    }
  }
  &-lg {
    @extend .btn;
    @include btn-size(.15rem, .7rem 1.5rem .7rem 1.5rem, .75rem, .10rem, 400);
    &-white {
      @extend .btn-lg;
      @include btn-theme($white-primary, $white-primary, $blue-primary);
    }
    &-blue {
      @extend .btn-lg;
      @include btn-theme($blue-primary, $blue-primary, $white-primary);
    }
    &-red {
      @extend .btn-lg;
      @include btn-theme($red-primary, $red-primary, $white-primary);
    }
    &-yellow {
      @extend .btn-lg;
      @include btn-theme($warning-color, $warning-color, $white-primary);
    }
  }
}

.inputIcon {
  color: $blue-primary;
}
// link styling
.link {
  color: $blue-primary;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center center;
  font-weight: $font-medium;
  @extend .body;
  width: 100%;
  border: none;
  &:hover {
    cursor: pointer;
    color: lighten($white-primary, 20%);
    background-color: $red-primary;
    font-weight: $font-medium;
    @include transition (all .3s);
  }
}

// DIRECT COMPONENT STYLING NO LONGER GENERAL
// APP STYLING AND CLASSES
body {
  background: $blue-gradient-bg;
  width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

.Welcome {
  width: 100%;
  height: 100%;
background: $blue-gradient-bg;}

// GENERAL DASHBAORD STYLING
.dashboard-page {
  height: 100%;
  width: 100%;
  @extend .flex;
  @extend .justify-center;
  @extend .align-center;
}

.modal-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 2001;
  @extend .flex-column;
  @extend .justify-center;
  @extend .align-center;
}

.page-container {
  @extend .m-t-4;
  width: 100%;
  @extend .container;
}

.modal-container {
  width: 100%;
  @extend .m-t-2;
  background-color: $white-primary;
  border-radius: 1rem;
  @extend .container;
}

.page-title {
  @extend .container__row;
  @extend .justify-center;
  @extend .m-b-2;
}

.page-content {
  @extend .container__row;
}

.page-header {
  @extend .container__col-22;
  @extend .container__col-offset-1;
  @extend .m-b-2;
}

.half-box {
  @extend .container__col-11;
  background-color: $white-primary;
  border-radius: .5rem;
}

.full-box {
  @extend .container__col-24;
  background-color: $white-primary;
  border-radius: .5rem;
}

.highlight-container {
  .highlight-type {
    @extend .container__row;
    @extend .m-l-1;
    @extend .m-t-75;
    @extend .phrase-blue;
  }
  .highlight-count {
    @extend .container__row;
    @extend .justify-center;
    @extend .m-v-50;
  }
  .highlight-focus {
    @extend .container__row;
    @extend .justify-center;
    @extend .caption-blue;
    @extend .m-b-1;
  }
}

.table-container {
  @extend .container__col-22;
  @extend .container__col-offset-1;
  background-color: $white-primary;
  border-radius: .5rem;
  @extend .m-b-2;
  .table-header {
    @extend .container__row;
    border-bottom: solid 1px $white-secondary;
    .table-title {
      @extend .container__col-24;
      @extend .m-a-1;
    }
  }
  .table-content {
    @extend .container__row;
    @extend .m-b-1;
    .table-row {
      @extend .container__col-24;
      border-bottom: solid 1px $white-secondary;
      border-radius: .5rem;
    }
  }
  .table-footer {
    @extend .flex;
    @extend .justify-center;
    @extend .m-v-1;
  }
}

.page-action {
  @extend .container__col-22;
  @extend .container__col-offset-1;
  border-radius: .5rem;
}

.modal-action {
  @extend .container__col-12;
  @extend .container__col-offset-6;
  @extend .container__col-md-6;
  @extend .container__col-md-offset-9;
  border-radius: .5rem;
}

.page-btn {
  width: 100%;
}

.snapshot {
  width: 100%;
  @extend .flex;
  @extend .justify-between;
  @extend .m-v-50;
  .snapshot-content{
    @extend .flex;
    .snapshot-icon {
      @extend .m-l-1;
      @extend .flex-column;
      @extend .justify-center;
      width: 2rem;
      height: 2rem;
      background-color: $red-primary;
      border-radius: 3rem;
      color: $white-primary;
    }
    .snapshot-info {
      @extend .m-l-50;
    }
  }  
  .snapshot-action {
    @extend .flex-column;
    @extend .justify-center;
    @extend .m-r-1;
    color: $red-primary;
  }

  .snapshot-actions {
    @extend .flex;
    @extend .justify-between;  
    .snapshot-action {
      @extend .flex-column;
      @extend .justify-center;
      @extend .m-r-1;
      color: $success-color;
    }
  }
}

.FallbackRow {
  @extend .flex;
  width: 100%;
  @extend .justify-center;
  @extend .m-t-1;
  .snapshot-content{
    @extend .flex-column;
    align-content: center;

    .snapshot-icon {
      @extend .flex-column;
      @extend .justify-center;
      width: 2rem;
      height: 2rem;
      background-color: lighten($font-color, 15%);
      border-radius: 3rem;
      color: $white-primary;
      margin: 0 auto;
    }
    .snapshot-info {
      @extend .flex;
    }
  }  
}


// AUTH STYLING
.auth-page {
  width: 100%;
  height: 100%;
}

.Login {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.Signup {
  width: 100%;
  @media(max-height: 800px) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  @media(min-height: 800px){
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    }

}

.AuthForm {
  @extend .container;
}

.LoginForm {
@extend .container__col-16;
@extend .container__col-sm-10;
@extend .container__col-md-8;
@extend .container__col-offset-4;
@extend .container__col-sm-offset-7;
@extend .container__col-md-offset-8;
}

.AuthLogo {
  @extend .container__row;
}

.ZeppiCloud {
  @extend .container__col-24;
}

.AuthTitle {
  @extend .subtitle-white;
  @extend .container__row;
  @extend .justify-center;
  @extend .m-t-1;
  @extend .m-b-25;
}

.AuthInput {
  @extend .input;
  @extend .m-t-50;
  @extend .container__col-24;
}

.AuthSubmit {
  @extend .btn-lg-red;
  @extend .m-t-1;
  @extend .container__col-24;
}

.auth-form-link {
  @extend .m-t-1;
  @extend .body-red;
}

.GraphicRow {
  position: fixed;
  bottom: 0;
  @extend .container__row;
  z-index: -1;
}

// SIDENAV BAR STYLING
.Navbar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  @extend .container__row;
  height: calc(100% - 100px);
  pointer-events: none;
  z-index: 2000;
}

.NavbarContainer {
  @extend .container__col-xl-5;
  @extend .container__col-lg-8;
  @extend .container__col-md-12;
  @extend .container__col-sm-16;
  @extend .container__col-18;
  background-color: $white-primary;
  border-radius: 0 .5rem 0 0;
  pointer-events: visible;
}

.zeppiNavLogo {
  @extend .container__col-sm-8;
  @extend .container__col-sm-offset-8;
  @extend .container__col-12;
  @extend .container__col-offset-5;
  @extend .m-v-2;
}

.nav-list-container {
  @extend .container__row;
}

.nav-link-container {
  @extend .container__col-24;
  @extend .p-v-1;
}

.nav-toggle {
  @extend .m-t-1;
  color: $white-primary;
  background-color: $red-primary;
  height: 3rem;
  width: 2rem;
  border-radius: 0 .75rem .75rem 0;
  pointer-events: visible;
}

.nav-toggle-icon {
  @extend .m-t-1;
  @extend .m-l-50;
  @extend .rotate-half;
}

.expand-container {
  animation: w0to100 ease-in .8s;
  @include transition (all .8s);
}

.collapse-container {
  animation: w100to0 ease-out 1s;

}

@keyframes w0to100 {
  from { width: 0%; }
  to { width: 100%; }
}

@keyframes w100to0 {
  from { 
    @extend .container__col-xl-6;
    @extend .container__col-lg-8;
    @extend .container__col-md-12;
    @extend .container__col-sm-16;
    @extend .container__col-18;  
   }
  to { width: 0%; pointer-events: none; cursor: not-allowed;}
}


// MAP STYLING
.addDrop {
  cursor: crosshair;
}

.textDecor {
  text-decoration: none;
}

.SimpleReactMap {
  background: $blue-gradient-bg;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.mapConsole {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 100px;
  width: 100px;
  background: $blue-gradient-bg;
  border-radius: 5px;
  z-index: 2000;
  
}


// WELCOME STYLING AND CLASS COMPONENTS
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2001;
}

.nav-bar {
  @extend .container__row;
  @media(max-width: 768px) {
    background-color: $red-primary;
  }
  @media(min-width: 768px){
    background-color: transparent;
  }
}

.welcome-toggle {
  @extend .container__row;
  margin-left: calc(100% - 5rem);
  color: $white-primary;
  background-color: $red-primary;
  height: 2rem;
  width: 3rem;
  border-radius: 0 0 .75rem .75rem;
  pointer-events: visible;
  @extend .hidden-md-up;
}

.welcome-toggle-icon {
  @extend .m-t-50;
  @extend .m-l-1;
  @extend .rotate-half;
}

.welcome-logo {
  @extend .container__col-md-3;
  @extend .container__col-md-offset-1;
  @extend .container__col-18;
  @extend .container__col-offset-3;
  @extend .m-v-2;
}

.header-buttons{
  @extend .container__col-lg-18;
  @extend .container__col-md-18;
  @extend .container__col-md-offset-1;
  @extend .container__col-12;
  @extend .container__col-sm-offset-6;
  @extend .container__col-offset-6;
  @extend .m-v-1;
}

.login-button {
  @extend .container__col-lg-4;
  @extend .container__col-lg-offset-1;
  @extend .container__col-md-5;
  @extend .container__col-md-offset-1;
  @extend .container__col-24;
  @extend .m-v-1;
  max-width: 200px;
}

.signup-button {
  @extend .container__col-lg-4;
  @extend .container__col-lg-offset-1;
  @extend .container__col-md-5;
  @extend .container__col-md-offset-1;
  @extend .container__col-24;
  @extend .m-v-1;
  max-width: 200px;

}

.preview-container {
  width: 100%;
  overflow: hidden;
}

.GraphicBanner {
  bottom: 0;
  @extend .container__row;
  overflow: hidden;
}

.CloudBreak {
  @extend .flex-column;
  @extend .justify-between;
  overflow: hidden;
}

.upsideDown{
  position: absolute;
  top: -5;
  animation: turn180 .01s ease-in-out 0s 1 normal forwards running;
}

@keyframes turn180 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes turn45 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

.fullPageAnimation {
  width: 100%;
  height: 100%;
  margin-top: 15rem;
}

.sectionTitle {
  @extend .container__row;
  @extend .justify-center;
}

.movingClouds {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.moveCloud {
  position: absolute;
  right: -100%;
  &-1 {
    @extend .moveCloud;
    animation: move 20s ease-in .5s infinite;
    width: 100px;
    top: 84%;   
    color: rgba(255, 255, 255, 0.89);   
  }
  &-2 {
    @extend .moveCloud;
    animation: move 25s ease-in 1s infinite;
    width: 150px;
    top: 65%;   
    color: rgba(255, 255, 255, 0.75);   
  }
  &-3 {
    @extend .moveCloud;
    animation: move 32s ease-in .25s infinite;
    width: 175px;
    top: 71%;   
    color: rgba(255, 255, 255, .80);   
  }
  &-4 {
    @extend .moveCloud;
    animation: move 18s linear 1s infinite;
    width: 200px;
    top: 90%;   
    color: rgba(253, 253, 253, 1);   
  }
  &-5 {
    @extend .moveCloud;
    animation: move 16s linear 1s infinite;
    width: 225px;
    top: 48%;   
    color: rgba(253, 253, 253, 1);   
  }
  &-6 {
    @extend .moveCloud;
    animation: move 17s ease-in 1.5s infinite;
    width: 250px;
    top: 17%;   
    color: rgba(255, 255, 255, .65);   
  }
  &-7 {
    @extend .moveCloud;
    animation: move 24s ease-in 3s infinite;
    width: 275px;
    top: 30%;   
    color: rgba(255, 255, 255, .8);   
  }
  &-8 {
    @extend .moveCloud;
    animation: move 10s linear 1s infinite;
    width: 300px;
    top: 3%;     
    color: rgba(253, 253, 253, .75);   
  }
  &-9 {
    @extend .moveCloud;
    animation: move 8s linear 1s infinite;
    width: 325px;
    top: 68%;   
    color: rgba(253, 253, 253, .9);   
  }
  &-10 {
    @extend .moveCloud;
    animation: move 24s linear 1s infinite;
    width: 350px;
    top: 22%;      
    color: rgba(253, 253, 253, .6);   
  }
}

.flyingPlane {
position: absolute;
top: 20%;
left: calc(50% - 125px);
width: 250px;
}

@keyframes move {
  from {
    right: -375px;
  }
  to {
    right: 100%;
  }
}

.mainFeature {
  background-color: $white-primary;
  @extend .flex-column;
  justify-content: center;

  .mainFeatureImage {
    @extend .flex;
    @extend .justify-center;
  }
  
  .mainFeatureHeadline {
    @extend .flex;
    @extend .justify-center;
    @extend .title-blue;
  }
  
  .mainFeatureParagraph {
    @extend .flex;
    @extend .justify-center;
    @extend .phrase-blue-thin;
    @extend .m-h-1;
    @extend .m-v-2;
    line-height: 1.5rem;
  }
  margin-bottom: 10rem;

}

.TopPageDiv {
  height: 30vh;
}

.paper-planes {
  @extend .container__col-xl-5;
  @extend .container__col-xl-offset-5;
  @extend .container__col-md-6;
  @extend .container__col-md-offset-5;
  @extend .container__col-10;
  @extend .container__col-offset-3;
  @extend .m-t-6;
}

.plane-trail {
  @extend .container__col-xl-5;
  @extend .container__col-xl-offset-5;
  @extend .container__col-md-6;
  @extend .container__col-md-offset-5;
  @extend .container__col-sm-10;
  @extend .container__col-sm-offset-5;
  @extend .container__col-18;
  @extend .container__col-offset-3;
}

.CloudSpan {
  @extend .container__row;
  @extend .align-end;
  border: none;
  overflow: hidden;
}

.RightBelowCloud {
  height: 100%;
  width: 100%;
  background-color: $white-primary;
}

.ConsoleButton{
  @extend .flex;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  @extend .justify-center;
  @extend .align-center;
  @extend .radius-4;
  pointer-events: all;
  z-index: 2000;
  @include transition(all 1s);
  .SettingIcon {
    @extend .m-a-50;
    color: $red-primary;
    pointer-events: all;
  }
}

.LoadingPopup {
  background-color: rgba(0,0,0,0.55);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  @include transition (all 2s);
}

.popup-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.AirDrop {
  position: fixed;
  top: 5rem;
  margin: auto;
  animation: swing 10s linear infinite;

}

@keyframes swing { 
  20% { transform: rotate(15deg); } 
  40% { transform: rotate(-10deg); } 
  60% { transform: rotate(5deg); } 
  80% { transform: rotate(-5deg); } 
  100% { transform: rotate(0deg); } 
} 

.item {
  @extend .container__col-20;
  @extend .container__col-sm-18;
  @extend .container__col-md-17;
  
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-top: 15rem;
  margin-bottom: 15rem;
  text-align: center;
  border-radius: .5rem;
  @extend .title-blue;

}

.messageBoxContainer {
  @extend .container;
}

.messageBox {
  background: $popup-color;
  letter-spacing: 1px;
  line-height: 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: -20px;
  padding:1.25rem;
  border-radius: 1rem;
  @extend .flex-column;
  @extend .justify-between;
}

.messageBox:after {
  content: '';
  position:absolute;
  bottom:-10px; 
  width:20px;
  height:20px;
  background:$popup-color;
  left:50%;
  margin-left:-10px;
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

.messageBoxClose {
  @extend .flex;
  @extend .justify-end
}

.messageBoxTitle {
  font-family: $roboto;
  font-weight: $font-regular;
  color: $blue-primary;
  font-size: 1.75rem;
  @extend .m-b-50;
}

.messageBoxText {
  @extend .phrase-blue;
  // @extend .container__col-24;
  // @extend .container__col-sm-16;
  // @extend .container__col-md-12;
  min-width: 225px;
  width: 75%;
  text-transform: none;
  line-height: 1rem;
  margin: 0 auto;
  margin-bottom: 2.25rem;
}

.iconContainer {
  width: 50%;
  height: 50%;
}

.accountIcon {
  margin: 0 auto;
  @extend .flex-column;
  @extend .justify-center;
    margin-top: 1rem;
    width: 33vw;
    max-width: 255px;
    height: 33vw;  
    max-height: 255px;
  background-color: $red-primary;
  border-radius: 50%;
  color: $white-primary;
}

.zeppiMapExample {
  width: 250px;
  border: solid 3px $red-primary;
  border-radius: 50%;
}

.techUsed {
  @extend .flex;
  background-color: $white-primary;
  width: 100%;
}

.introSection {
  @extend .container__row;
  background-color: $white-primary;
  width: 100%;
}

.techIconContainer {
  @extend .container__col-24;
  @extend .container__col-sm-12;
  @extend .container__col-md-8;
  color: $blue-primary;
  justify-content: center;
}

.techTitleContainer {
  @extend .container__col-24;
  @extend .container__col-sm-24;
  @extend .container__col-md-24;
  color: $blue-primary;
  justify-content: center;
}

.techIcon {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 25%;
}

.techTitle {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 25%;
  font-size: $sectionTitle;
}

.footerCaption {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 1%;
}

.footerLogo {
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;

}

.footerCaptionContainer {
  @extend .container__col-24;
  @extend .container__col-sm-24;
  @extend .container__col-md-24;
  color: $blue-primary;
  justify-content: center;
}
